html,
body {
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: black;
  color: white;
  width: 100%;
}
.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-con .brand {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
.nav-con .nav-body ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-con .nav-link {
  list-style: none;
  padding-right: 30px;
}

.nav-con .nav-link .links {
  font-size: 25px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.whole #home {
  width: 100vw;
  height: 90vh;
}
.whole #home .center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./projects/background-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 30px;
}
.whole #home h1 {
  font-weight: 800;
  animation: 20s linear content infinite;
}
.whole #home #code {
  font-weight: 800;
  animation: 25s ease-in-out infinite content2;
}
@keyframes content {
  5% {
    color: white;
  }
  20% {
    color: red;
  }
  35% {
    color: rgb(247, 10, 215);
  }
  50% {
    color: blue;
  }
  65% {
    color: yellow;
  }
  95% {
    color: black;
  }
}
@keyframes content2 {
  5% {
    color: cornsilk;
  }
  20% {
    color: yellow;
  }
  35% {
    color: cyan;
  }
  50% {
    color: green;
  }
  65% {
    color: red;
  }
  95% {
    color: white;
  }
}

.whole #about {
  width: 100vw;
  height: 100vh;
  padding-bottom: 40px;
  background-color: rgb(165, 42, 42);
}
#about h1 {
  padding-top: 60px;
  text-align: center;
  font-size: 50px;
}
.whole #about .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.container .profile {
  display: flex;
  justify-content: center;
}
.container .profile .profile-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
table {
  margin-top: 2rem;
}
tbody {
  font-size: 1.2rem;
}
td {
  padding: 5px 0 7px 40px;
  color: rgb(49, 255, 90);
}
th {
  border-bottom: 2px solid black;
  color: white;
}
.whole #services {
  width: 100vw;
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(12, 1, 1);
  animation: 15s ease-out infinite transition;
}
@keyframes transition {
  5% {
    background-color: black;
  }
  30% {
    background-color: brown;
  }
  60% {
    background: gray;
  }
  100% {
    background: lightblue;
  }
}
#services h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}
#services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  height: 100%;
}

#services .container .serve .sv {
  width: 250px;
  height: 200px;
}
#services .container .serve {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
.whole #projects {
  width: 100vw;
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: bisque;
  animation: 15s ease-in infinite change;
}
@keyframes change {
  5% {
    background-color: white;
  }
  30% {
    background-color: bisque;
  }
  60% {
    background: lemonchiffon;
  }
  100% {
    background: lavender;
  }
}

#projects h1 {
  text-align: center;
  font-size: 50px;
  color: black;
}
#projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

#projects .container .project .sv {
  width: 250px;
  height: 200px;
}
#projects .container .project {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
#projects .container .project a {
  text-decoration: none;
  color: aliceblue;
}
.end .social-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.end .social-icons ul {
  display: flex;
  flex-direction: row;
}
.end .social-icons .social {
  list-style: none;
  padding: 30px;
  font-size: 2rem;
}
.end .social-icons .social a {
  color: black;
}
@media only screen and (max-width: 700px) {
  header {
    height: 100%;
  }
  .nav-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -20px;
  }
  .nav-con .brand {
    display: flex;
  }
  .nav-con .nav-body ul {
    display: flex;
    flex-direction: row;
  }

  .nav-con .nav-link {
    list-style: none;
    padding-right: 15px;
  }

  .nav-con .nav-link .links {
    font-size: 1.2rem;
  }
  .whole #about {
    height: 100%;
  }
  .whole #services {
    height: 100%;
  }
  .whole #projects {
    height: 100%;
  }
  .end .social-icons .social {
    padding: 15px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .nav-con .nav-link {
    padding-right: 13px;
  }

  .nav-con .nav-link .links {
    font-size: 1rem;
  }
  .end .social-icons .social {
    font-size: 1.3rem;
  }
  .whole #home h1 {
    font-size: 29px;
  }
}
