html,
body {
  box-sizing: border-box;
}
form {
  margin: 50px auto;
  border: 5px solid black;
  width: 90%;
  border: none;
}
h1,
p {
  text-align: center;
  font-family: cursive;
}
fieldset {
  box-sizing: border-box;
  width: 50%;
  margin: 50px auto;
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 3rem;
  padding-left: 2rem;
  line-height: 1.7rem;
  border-radius: 1%;
  background-color: rgb(2, 124, 108);
  color: azure;
}
label {
  font-size: 25px;
}
.enter {
  font-size: 20px;
  width: 100%;
  height: 1.5rem;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}
.submit {
  display: block;
  margin: 10px auto;
  width: 70%;
  padding: 10px;
  font-size: 20px;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: azure;
}
.mid {
  width: 50%;
  font-size: 20px;
}
p {
  font-size: 20px;
}
a {
  color: wheat;
}
@media only screen and (max-width: 815px) {
  form {
    width: 100%;
  }
  fieldset {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 100%;
  }
  fieldset {
    width: 95%;
  }
}
